[Desktop Entry]
Type=Application
Name=CopyQ
Comment=Advanced Clipboard Manager with Editing and Scripting
Exec=flatpak run com.github.hluk.copyq
Icon=com.github.hluk.copyq
Terminal=false
Categories=Utility;Office;TextTools;
Keywords=clipboard;manager;history;copy;paste;
X-GNOME-Autostart-enabled=true
StartupNotify=false
StartupWMClass=copyq